

body {
    background-color: purple;
    margin: 0;
}

.nav-link {
    background-color: blue;
    color:white;
    padding: 5em;

}

.navbar {
    background-color: azure;
    padding: 15px;
    text-align: right;
    border-radius: 10px;
}